@import '../../style/index.scss';

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 25px;

    &:not(:last-child) {
        @include adaptiveValue("margin-bottom", 40, 30);
    }
}